@inherits UmbracoViewPage<PostModel>

@if (!Model.Author.Name.IsNullOrWhiteSpace())
{
    if (Model.Author.Image is not null)
    {
        var thumbnail = Model.Author.Image.GetCropUrl("thumbnail");
        <div class="minilogo" style="background: url(@thumbnail)"></div>
    }
    <div>
        <strong>
            @if (Model.Author.BlogUrl.IsNullOrWhiteSpace())
            {
                @Model.Author.Name
            }
            else
            {
                <a href="@Model.Author.BlogUrl">@Model.Author.Name</a>
            }
        </strong>
            <span>@(Model.PublishedDate.ToString("MMMM dd, yyyy") ?? "Date unavailable")</span>
    </div>
}
