bin
obj
src/packages/*
*.suo
*.csproj.user
src/Articulate.sln.DotSettings.user
build/Releases/*
build/nuget.exe
src/.vs/*
/build/tmp/*
/build/vswhere.exe
/build/Release/*

/src/Articulate.Tests.Website/App_Plugins/Articulate/*
/src/Articulate.Tests.Website/umbraco/*
/src/Articulate.Tests.Website/wwwroot/media/*
/src/Articulate.Tests.Website/wwwroot/umbraco/*
/src/Articulate.Tests.Website/Views/Articulate/*
/src/Articulate.Tests.Website/Views/ArticulateThemes/*

!/src/Articulate/Client/.vscode/extensions.json
/src/Articulate/Client/.vscode/*

/src/Articulate/wwwroot/App_Plugins/Articulate/*


node_modules
package-lock.json
