<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="articulate-dev" value="build/Release" />
  </packageSources>
  <packageSourceMapping>
    <!-- Ensure all packages are pulled from NuGet -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="articulate-dev">
      <package pattern="Articulate" />
      <package pattern="Articulate.*" />
    </packageSource>
  </packageSourceMapping>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  </configuration>