@model IMasterModel
<nav class="site-nav" aria-label="Primary">
    <ul>
        <li><a href="@Model.ArticulateRootUrl()">Home</a></li>
        <li><a href="@Model.BlogArchiveNode.Url()">Archive</a></li>
        <li><a href="@Model.BlogAuthorsNode.Url()">Authors</a></li>
    </ul>
</nav>
