# General ignores for all sub-projects
**/node_modules/
**/build/
**/dist/
**/public/
**/package-lock.json

# Ignore generated API clients
**/src/api/

# Ignore project-specific configs and folders
**/.vscode/
**/docs/
**/vite.config.ts
**/tsconfig.json

# Ignore specific assets
scripts/
src/packages/markdown-editor/
umbraco-package-schema.json
.prettierrc.cjs
eslint.config.js
package.json

# Ignore specific file types
*.min.js
*.bundle.js
*.d.ts
*.css
*.map