node_modules/
build/
dist/
public/
scripts/
src/api/
docs/
.vscode/

*.min.js
*.bundle.js
*.d.ts
*.css
*.map
umbraco-package-schema.json
.prettierrc.cjs
eslint.config.mjs
eslint-local-rules.mjs
vite.config.ts
package-lock.json
tsconfig.json