@model IImageModel
@{
    if (Model.Image is not null)
    {
        <div class="mdl-card__media mdl-color-text--grey-50">
            @await Html.PartialAsync("ResponsiveImage", Model.Image, new Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary(ViewData)
            {
                { "alt", Model.Name },
                { "crop", "wide" },
                { "sizes", "(min-width: 1024px) 1024px, 100vw" },
                { "widths", "480,768,1024,1440" }
            })
            <h3>
                <a href="@Model.Url">@Model.Name</a>
            </h3>
        </div>
    }
    else
    {
        <div class="mdl-card__title mdl-color-text--grey-50">
            <h3 class="quote">
                <a href="@Model.Url">@Model.Name</a>
            </h3>
        </div>
    }
}
