@model IMasterModel

<nav class="menu" role="navigation">
    <ul>
        <li><a href="@Model.ArticulateCategoriesUrl()">Archive</a></li>
        <li><a href="@Model.ArticulateTagsUrl()">Tags</a></li>
        <li>
            @await Html.PartialAsync("SearchBox", Model)
        </li>
    </ul>
</nav>
