@model IMasterModel

<nav class="menu" role="navigation">
    <ul>
        @if (Model.HasCategoriesRoute())
        {
            <li><a href="@Model.ArticulateCategoriesUrl()">Archive</a></li>
        }
        @if (Model.HasTagsRoute())
        {
            <li><a href="@Model.ArticulateTagsUrl()">Tags</a></li>
        }
        @if (Model.HasSearchRoute())
        {
            <li>
                @await Html.PartialAsync("SearchBox", Model)
            </li>
        }
    </ul>
</nav>
