@model IMasterModel

<!--- MENU SECTION --->
<div class="header-menu">
    <!--- HOME BUTTON --->
    <a href="@Model.ArticulateRootUrl()" title="Home">
        <div class="header-menu-button">
            <span class="header-menu-button-label">
                HOME
            </span>
            <span class="fa-stack header-menu-button-icon">
                <i class="fa-regular fa-square fa-stack-2x"></i>
                <i class="fa-solid fa-home fa-stack-1x"></i>
            </span>
        </div>
    </a>

    <!--- RSS BUTTON --->
    <a href="@Model.ArticulateRssUrl()" title="Subscribe">
        <div class="header-menu-button">
            <span class="header-menu-button-label">
                RSS
            </span>
            <span class="fa-stack header-menu-button-icon">
                <i class="fa-regular fa-square fa-stack-2x"></i>
                <i class="fa-solid fa-rss fa-stack-1x"></i>
            </span>
        </div>
    </a>
</div>
