@model IMasterModel

<nav class="menu" role="navigation" aria-label="Main navigation">
    <ul>
        @if (Model.HasCategoriesRoute())
        {
            <li><a title="View Categories" href="@Model.ArticulateCategoriesUrl()">Categories</a></li>
        }
        @if (Model.HasTagsRoute())
        {
            <li><a title="View Tags" href="@Model.ArticulateTagsUrl()">Tags</a></li>
        }
        @if (Model.HasSearchRoute())
        {
            <li>
                @await Html.PartialAsync("SearchBox", Model)
            </li>
        }
    </ul>
</nav>
